/* #headerimage {
  max-width: 2500px;
  width: 100%;
  font-size: 4em;
} 

#headerimage > div {
  width: 25%;
  height: 240px;
  float: left;
  color: #fff;
  font-size: 3em;
} 

#headerimage > div:nth-child(1) {
  background-color: red;
}

#headerimage > div:nth-child(5) {
  clear: both;
  float: none;
}  */

/* @media (max-width: 700px) {
  #headerimage {
    width: 50%;
  }
}

@media (max-width: 600px) {
  #headerimage > div {
    width: 100%;
  }} */

/* #headerimage>div:nth-child(2)~div{
            display: none;
          } */

/* 
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

#headerimage:last-child:after {
  content: "";
  clear: both;
  float: none;
} */

/* #headerimage > h1 {
  font-size: 2px;
  height: auto;
  max-width: 375px;
  height: auto;

  background-color: black;
  margin-top: 1px;
  font-family: "Montserrat,Helvetica Neue";
  line-height: 0;
}

@media (max-width: 375px) {
  #mainimage {
    font-size: 1px;
    margin-top: 0px;
    height: auto;
    max-width: 375px;
    height: auto;
    font-size: 1em;
    background-color: black;
    margin-top: 1px;
    font-family: "Montserrat,Helvetica Neue";
    line-height: 0;
  }

  #fontmain {
    font-size: -2em;
    margin-top: 0px;
    height: auto;
    /* max-width: 375px; */
/* }
} */

@media (max-width: 3000px) {
  #fontmain {
    font-size: 5em;
    color: black;
    margin-top: 350px;
  }

  #fontmainsub {
    font-size: 20;
    font-weight: bold;
    font-size: 2em;
    color: black;
    margin-top: 1px;
    font-family: "Montserrat,Helvetica Neue";
    line-height: 5;
  }
}

@media (max-width: 375px) {
  #fontmain {
    font-size: 3em;
    color: black;
    margin-top: 200px;
  }

  #fontmainsub {
    font-size: 1em;
    color: black;
    margin-top: 1px;
    font-family: "Montserrat,Helvetica Neue";
    line-height: 5;
    letter-spacing: -1px;
  }
}
