/*데스크탑*/
@media (max-width: 3000px) {
  .marketing {
    justify-content: center;
    margin-top: 100px;
  }
  .marketing2 {
    justify-content: center;
    margin-top: 150px;
  }

  .marketing_second_onebox {
    margin: auto 0;
    margin-left: 3%;
    margin-right: 3%;
  }
  #main {
    max-width: 2700px;
    width: 100%;
    display: flex;
  }

  #onebyone {
    max-width: 100%;
    /* height: 240px; */
    float: block;
    color: black;

    font-size: 1.7em;
    /* border: red solid 1px; */
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
  }

  #onebyone > h4 {
    font-weight: bold;
  }

  .company_marketing_detail {
    height: 130px;
    text-align: center;
    margin-top: 20px;
    color: #878890;
    font-size: 0.6em;
    max-width: 400px;
    width: 100%;
    font-size: 0.8em;
    text-align: justify;
    word-break: break-all;
  }
  .clickimage {
    width: auto;
    margin: 0 auto;
  }
}

/*아이패드*/
@media (min-width: 768px) and (max-width: 1025px) {
  .marketing {
    justify-content: center;
    margin-top: 150px;
  }
  .marketing2 {
    justify-content: center;
    margin-top: 50px;
  }

  #main {
    max-width: 2700px;
    width: 100%;
    display: flex;
  }

  #onebyone {
    max-width: 100%;
    float: block;
    color: black;
    font-size: 1.7em;
    /* border: red solid 1px; */
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    display: grid;
    margin-top: -5%;
    word-spacing: -2px;
    line-height: 30px;
  }

  #onebyone > h4 {
    font-weight: bold;
  }

  .company_marketing_detail {
    height: 130px;
    text-align: center;
    width: max-content;
    margin-top: 20px;
    color: #878890;
    font-size: 0.6em;
    max-width: 250px;
    width: 100%;
    font-size: 0.9em;
    text-align: justify;
    word-break: break-all;
  }

  .marketing_second_onebox {
    padding: 10%;
    margin: auto 0;
  }

  .clickimage {
    width: 100%;
    margin: 0 auto;
  }
}

/*모바일*/
@media (min-width: 320px) and (max-width: 480px) {
  .marketing {
    justify-content: center;
    margin-top: 100px;
    max-width: 480px;
    width: 100%;
    display: flex;
  }
  .marketing2 {
    justify-content: center;
    margin-top: 20px;
  }
  /* .marketing > .marketing_second_onebox > #onebyone {
    width: 25%;
    height: 400px;
    float: left;
    border: solid blue 1px;
    position: relative;
  } */

  .marketing_second_onebox {
    float: left;
    max-width: 480px;
    width: 100%;
  }
  #onebyone {
    /* height: 240px; */
    color: black;
    font-size: 1em;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    margin-top: 2%;
  }

  #onebyone > h4 {
    font-weight: bold;
  }

  .company_marketing_detail {
    height: 130px;
    text-align: center;

    /* width: max-content; */
    margin-top: 20px;
    color: #878890;
    font-size: 0.6em;
    max-width: 140px;
    width: 100%;

    font-size: 0.9em;
    text-align: justify;
    word-break: break-all;
  }
  .clickimage {
    width: 70%;
    margin: 0 auto;
  }

  #our_business {
    text-align: center;
    font-size: 4em;
  }

  #content_section_oneline {
    max-width: 100%;
    height: 350px;
    position: relative;
    display: flex;
  }

  /*한칸*/
  #content_section_img1 {
    width: 100%;
    max-width: 192px;
    height: 350px;
  }

  #content_section_img1 > img {
    height: 350px;
  }
  #content_section_img1 > #content_section_img1_details > b {
    font-size: 1.5em;
  }
  #content_section_img1 > #content_section_img1_details {
    text-align: center;
    margin-top: 10%;
    font-size: 1.3em;
    height: 350px;
  }

  #ptext {
    position: relative;
    font-size: 0.6em;
    margin-top: 15%;
    text-align: center;
    width: 90%;
    color: "white";
  }
  #link_detail {
    border: solid black 1px;
    display: block;
    width: 160px;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
  }
}
